<head>
  <link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/style.css" />
  </head>
<article>
  <h1 id="tufte-css">Hi, I'm Ashish </h1>
  <p class="subtitle">Welcome to my meme page.</p>
  <section>
    <p>Tufte CSS provides tools to style web articles using the ideas demonstrated by Edward Tufte’s books and handouts. Tufte’s style is known for its simplicity, extensive use of sidenotes, tight integration of graphics with text, and carefully <a href="">chosen typography</a>.</p>
    <p>
      <h2>DeFi:</h2>
      <ul>
        <li>
          <a class="list-link" href="https://priyaghose.io/2021-09-08-working-while-traveling/">Travelling productively, safely, etc.</a>
        </li>
                    <li>
          <a class="list-link" href="https://priyaghose.io/2021-09-08-working-while-traveling/">Travelling productively, safely, etc.</a>
        </li>
        <li>
          <a class="list-link" href="https://priyaghose.io/2021-09-08-working-while-traveling/">Travelling productively, safely, etc.</a>
        </li>
        <li>
          <a class="list-link" href="https://priyaghose.io/2021-09-08-working-while-traveling/">Travelling productively, safely, etc.</a>
        </li>
      </ul>
      
    </p>
    <h2> Books: </h2>
    <p>
      <div class="one-line-rec">
        <a href=""> The Beginning of Infinity</a>
        A book about a book about a book.
      </div>

      
      </p>
  </section>    
</body>
</html>
